// _modal.scss

//////////////////////////////////////////////////////////////////////////////////////////////
// Modal Base Styles
//////////////////////////////////////////////////////////////////////////////////////////////
.modal-header {
    position: relative;
    width: 100%;

    .align-left {
        float: left;
    }

    .align-right {
        float: right;
    }
}

.modal-content {
    border-radius: 0;

    .modal-body {
        padding: 10px;
        color: #777;

        .form-group .btn {
            margin-left: 0;
        }

    }
}
