.navigation
    h1.navigation__brand(href="http://www.ruchidarji.com")
        | Custom Creative Creations
    nav.navigation__actions
        ul.navigation__actions__menu
            li.navigation__actions__menu__item
                a(ui-sref='rd.app.home', name='Home') Home
            li.navigation__actions__menu__item
                a(ui-sref='rd.app.beauty', name='Beauty') Beauty
            li.navigation__actions__menu__item
                a(ui-sref='rd.app.blog', name='Blog') Blog
    nav.navigation__sub-actions
        ul.navigation__sub-actions__menu
            li.navigation__sub-actions__menu__item
                a.ion-navicon
