.navigation
    h1.navigation__brand(href="http://www.ruchidarji.com")
        | Custom Creative Creations
    nav.navigation__actions
        ul.navigation__actions__menu
            li.navigation__actions__menu__item(ui-sref='rd.app.home', name='Home') Home
            li.navigation__actions__menu__item(ui-sref='rd.app.beauty', name='Beauty') Beauty
            li.navigation__actions__menu__item(ui-sref='rd.app.blog', name='Blog') Blog
