.header
    .head
        .head__name
            a(href="http://www.ruchidarji.com")
                | Ruchi Darji
    md-content
        md-nav-bar(md-selected-nav-item='currentNavItem', nav-bar-aria-label='navigation links')
            md-nav-item(md-nav-sref='rd.app.home', name='Home') Home
            md-nav-item(md-nav-sref='rd.app.beauty', name='Beauty') Beauty
            md-nav-item(md-nav-sref='rd.app.blog', name='Blog') Blog
