ul.menu
    li.menu__item
        a(ui-sref='rd.app.home', name='Home') Home
    li.menu__item
        a(ui-sref='rd.app.beauty', name='Beauty') Beauty
    li.menu__item
        a(ui-sref='rd.app.blog', name='Blog') Blog
